<div class="task-container">
  <div class="input-section">
    <!-- updates the task everyime the user types -->
    <input [(ngModel)]="taskText" placeholder="Enter task here" />
    <!-- listens for button click, once clicked, updates the task array -->
    <button (click)="onButtonClick()">Submit Task</button>
  </div>

  <ul>
    @for (task of tasks; track task) {
    <li [class.completed]="isCompleted(task)">
      <input
        type="checkbox"
        [checked]="isCompleted(task)"
        (change)="toggleComplete(task)"
      />
      {{ task }}
    </li>
    }
  </ul>
</div>
